.ui-button {
    transition-duration: 0.4s;
    background-color:white;
    margin:1rem;
    padding:1rem ;
    width:80px;

  }
  
  .ui-button:hover {
    background-color: #FFB344; /* Green */
    color: black;
    border:2px solid
  }