.woops {
    height:60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    animation:color-change 1s infinite;
}

  @keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }