.category{
    font-weight: bold;
    background-color: #00A19D;
    gap:3rem;
}

.todoitem:nth-child(2) .category {
    background-color: #FFF8E5;
}

.todoitem:nth-child(3) .category {
    background-color:#FFB344;
}

.todoitem:nth-child(4) .category {
    background-color:#E05D5D;
}

.todoitem:nth-child(5) .category {
    background-color: rgb(122, 179, 100);
}

.todoitem {
    display: flex;
    flex-direction: column;
    border: solid 3px gray;
}

.isCompleted {
    color: red;
}
.footer {
    background-color: #FFB344;
    position: absolute;
    top:690px;
    border-radius: 10px;
}
.footer svg {
    height: 60px;
    color: #FFF8E5;
}

.endDate {
    color: Silver;
}

.title {
    font-size:1rem;
}