.ui-link {
    padding: 1rem 2rem;
    color: #FFF8E5;
    font-size: 1rem;
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
    border: 3px #FFB344 solid;
    border-radius:5px;
    color:Black;

}

.ui-link:hover{
    background-color:#FFB344;
}

.ui-link-notfound {
    color: red;
    font-size: 1rem;
}