.ui-link {
    background-color: #FFB344;
    padding: 1rem 2rem;
    color: #FFF8E5;
    font-size: 1rem;
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
}

.ui-link-notfound {
    color: red;
    font-size: 1rem;
}